
.icon-search:before { content: '\e800'; } /* '' */
.icon-github-text:before { content: '\e802'; } /* '' */
.icon-phone-1:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-twitter-1:before { content: '\f058'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-mastercard:before { content: '\f329'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
